@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#loginPage {
    background-image: url('../../public/login_background.png');
    background-size: cover;
    background-position: center;

}

#goalPage {
    background-image: url('../../public/goalPageBackground.png');
    background-size: cover;
    background-position: center;
}

#hangryMeterTitle {
    position:relative;
    top: 2px;
    width: 35%;
    margin: 0 auto;
    
}

#hungryMeter {
    border: solid black 5px;

}

.red {
    background: red;
}

.orange {
    background:rgb(232, 113, 34);
}

.green {
    background: green;
}

.blue {
    background: blue;
}

#appForm {
    left: 12%;
    bottom: 61.5%;
}

#responsivePeko {
    position: absolute;
    top:125%;
    height: 250%;
    width: 30%;
}

.bluePeko {
    animation-name: bluePekoMove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}
@keyframes bluePekoMove {
    0%   {left:0px;}
    25%  {left:200px;}
    100% {left:0px;}
}

.greenPeko {
    animation-name: greenPekoMove;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}
@keyframes greenPekoMove {
    0%   {left:0px;}
    25%  {left:200px;}
    100% {left:0px;}
}

.orangePeko {
    animation-name: orangePekoMove;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}
@keyframes orangePekoMove {
    0%   {left:0px; transform: scale(1.25)}
    25%  {left:200px;}
    100% {left:0px;}
}

.redPeko {
    animation-name: redPekoMove;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}
@keyframes redPekoMove {
    0%   {left:0px; transform: scale(2)}
    25%  {left:200px;}
    100% {left:0px;}
}

#stillCooking {
    position: absolute;
    top: 100%;
    height: 325%;
}

#tableDiv {
    height: 17.31rem;
}

#tableBody {
    height: 20px;
    overflow: hidden;
}

#historyPekoCrew {
    height: 80vh;
    overflow: hidden;
      
}

#historyPekoCrew img {
    height: 50%;


}

#happyPekoLongEarsLookingUp{
    position: absolute;
    top: 75%;
    left: 5%;
    height: 45%;
    width: 23%;
    z-index: 10;
}

#peckishPeko3EyesLookingUp {
    position: absolute;
    top: 75%;
    left: 25%;
    height: 50%;
    width: 33%;
}

#hungryPeko1EyeLookingUp {
    position: absolute;
    top: 75%;
    left: 54%;
    height: 50%;
    width: 25%; 
}

#hangryDinoLookingUp {
    position: absolute;
    top: 75%;
    left: 72%;
    height: 50%;
    width: 30%;

}



